<footer>
    <div class="container">
        <div class="logo">
            <img src="assets/img/l.png" alt="">
            <p>Levendula apartman, {{ date.getFullYear() }}</p>
        </div>
        <ul class="menu">
            <li id="menu">Menü</li>
            <li class="menu-item" routerLink="/home">Kezdőlap</li>
            <li class="menu-item" routerLink="/photos">Galéria</li>
            <li class="menu-item" routerLink="/events">Programok</li>
            <li class="menu-item" routerLink="/contact">Kapcsolat</li>
            <li class="menu-item" routerLink="/booking">Foglalás</li>
        </ul>
    </div>
</footer>