footer
  .container
    .logo
      img(src='assets/img/l.png', alt='')
      p Levendula apartman, {{ date.getFullYear() }}
    ul.menu
      li#menu Menü
      li.menu-item(routerLink='/home') Kezdőlap
      li.menu-item(routerLink='/gallery') Galéria
      li.menu-item(routerLink='/events') Programok
      li.menu-item(routerLink='/contact') Kapcsolat
      li.menu-item(routerLink='/booking') Foglalás
