.footer
  width: 100%
  padding: 100px 0px
  background-color: #2b1133
  color: #fff
  text-align: center

.container
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  flex-flow: wrap


.logo
  font-size: 18px
  display: inline
  text-align: center

.menu
  list-style: none
  margin-right: 50px
  > li
    margin-bottom: 10px
    &:hover
      color: #c4e372

a
  color: inherit
  text-decoration: none
  cursor: pointer

.menu-item
  cursor: pointer

.title
  color: #ab6cc3
.flex-small
  width: 20%

#social-detailed
  width: 340px
  height: 500px
  border: none
  overflow: hidden

#social-short
  display: none

@media only screen and (max-width: 1099px)
  #social-detailed
    display: none
  #social-short
    position: absolute
    text-align: center
    display: block
    width: 80%
    margin-top: -80px
    left: 50px

@media only screen and (max-width: 730px)
  .container
    text-align: center

  .logo
    margin-bottom: 25px
    margin-right: 0

  .menu
    margin-bottom: 25px

  .flex-small
    width: 80%
    margin-right: 0
