footer
  width: 100%
  padding: 100px 0px
  background-color: #2b1133
  color: #fff
  display: flex

.container
  width: 1200px
  display: flex
  justify-content: space-around

.logo
  font-size: 12px

.menu
  list-style: none
  > li
    margin-bottom: 10px
    &:hover
      color: #c4e372

.menu-item
  cursor: pointer

#menu
  color: #ab6cc3