.hero
  .notification-panel(*ngIf="showNotification")
    .hero-content
      h1 Figyelem!
      p
       | A
       b {{deletion.bookingSerial}}
       | azonsítóval ellátott foglalás törlése megkezdődött.
      p A további információkat a foglalás mellé csatolt e-mail címre kiküldtük.
      p Reméljük még találkozunk.
      button.submit((click)="showNotification=!showNotification") Bezárás
  .hero-content
    .loading(*ngIf="showLoading")
      app-loading-circle(show="false")
    form((ngSubmit)="onSubmit()", [formGroup]="formName")
      h1 Foglalás lemondása
      p A foglalásod lemondásához meg kell adnod a foglalás után kapott foglalási azonosítódat. Minden lépésről e-mailben fogunk tályékoztatni.
      p
        | A
        i Lemondás
        | gomb lenyomásával elkezdődik a foglalás törlésének folyamata.
      p
        b Fontos:
        |  Csak érvényes foglalás azonosítóval tudjuk törölni a foglalásodat. Részleteket az
        a(target="_blank", rel="noopener noreferrer", href="https://s3.eu-central-1.amazonaws.com/documents.levendulabalatonmaria.info/Foglalassal_kapcsolatos_informaciok.pdf") alábbi linken
        | találsz!
      .divider
      p Adatok:
      .input-wrapper
        input(type='text', formControlName="sureField", placeholder='*Azonosító', [(ngModel)]="deletion.bookingSerial", [ngClass]="{'invalid-input': formName.get('sureField').touched && formName.get('sureField').hasError('required')}")
        .input-icon
          i.fas.fa-tag
      textarea.message(formControlName="message", maxlength='300', placeholder='Lemondás oka (opcionális)', [(ngModel)]="deletion.message", (input)='onMessageInput()')
      .info-wrapper
        p.char-count A *-al jelölt mezők kitöltése kötelező
        p.char-count Ennyi karakter maradt: {{ messageLength }}
      label
        input(type='checkbox', [checked]="sureCheck", (change)="sureCheck=!sureCheck")
        | Törölni szeretném a foglalásom!
      button.submit([disabled]="sendingDisabled()") Lemondás
