<nav [ngClass]="{scrollnav: background, opacity: opacity}" (window:scroll)="changeBg()">
  <div class="wrapper">
    <img class="logo" routerLink="/home" src="assets/img/logo.png">
    <div class="menu">
      <a routerLink="/home" routerLinkActive="active">Kezdőlap</a>
      <a routerLink="/photos" routerLinkActive="active">Galéria</a>
      <a routerLink="/events" routerLinkActive="active">Programok</a>
      <a routerLink="/contact" routerLinkActive="active">Kapcsolat</a>
      <a routerLink="/booking" class="booking">Foglalás</a>
    </div>
  </div>
</nav>