*
  user-select: none

a
  text-decoration: none
  color: white
  font-size: 16px
  margin-left: 20px
  &:hover
    color: #c4e372

.active
  color: #c4e372

nav
  position: fixed
  z-index: 100
  color: white
  padding: 0px 30px
  top: 0px
  left: 0
  width: 100vw
  height: 75px
  transition: height 500ms, background-color 500ms, box-shadow 500ms

.wrapper
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 1200px
  height: 100%
  margin: 0 auto

.logo
  cursor: pointer
  height: 45px
  transition: height 500ms

.menu
  display: flex
  align-items: baseline

.booking
  display: flex
  justify-content: center
  align-items: center
  border: 2px solid #fff
  border-radius: 10px
  padding: 5px 20px
  &:hover
    background-color: #fff
    color: #2b1133

.opacity
  background-color: rgba(0, 0, 0, 0.75)

.scrollnav
  height: 75px
  background-color: rgba(0, 0, 0, 1)
  .logo
    height: 45px