* {
    user-select: none;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
nav {  
    position: fixed;
    color: white;
    padding: 0px 30px;
    top: 0px;
    left: 0;
    width: 100%;
    height: 150px;
    transition: height 500ms, background-color 500ms, box-shadow 500ms;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.logo {
    cursor: pointer;
    height: 70px;
    transition: height 500ms;
}
.scrollnav {
    height: 75px;
    background-color: rgba(0,0,0,1);
    box-shadow: 0 0 20px rgba(0,0,0,.8);
}
.scrollnav .logo {
    height: 50px;
}