hero-container
  card-container(title="Házirend")
    h2.subtitle(translate key="house_rules.translated_by")
    p A Levendula Apartman szeretettel üdvözli Önt vendégei körében. Bízunk benne, hogy a kiválasztott szálláshellyel elégedett lesz.
    h2 Szállásfoglalás
    p
      | A szállásfoglalás e-mailben, levélben, telefonon, vagy a weboldalon keresztül történik, A szállásfoglalás
      |
      b 30% foglaló befizetésével
      |
      | történik.
    p Meg nem érkezés esetén a foglalót nem áll módunkban visszafizetni.
    p A szállásdíj tartalmazza a közüzemi díjakat és egyéb rezsi költségeket, az ágyneműt huzattal, egy héten túli tartózkodás esetén heti ágyneműcserét, valamint a végső takarítást.

    h3 Bejelentkezés / Kijelentkezés
    p A szállást az érkezés napján, 14:00 és 20:00 óra között lehet elfoglalni. Az elutazás napján legkésőbb 10:00 óráig kell elhagyni a házat.
    p A Levendula Apartman vendégek fogadására alkalmas, viszont a szálláshelyen az előre egyeztetett létszámú személyek nyaralhatnak.

    h3 Fizetés
    p A szállásdíj fennmaradó része és az idegenforgalmi adó fizetése a megérkezéskor a bejelentkező lap kitöltésével egyidejűleg történik.
    p Ha valami miatt az Ön által előre lefoglalt időszak vége előtt távozik a szállásról, nem áll módunkban a szállásdíjat csökkenteni, visszafizetni.

    h2 Az udvar és az épület zárása
    p Eltávozáskor és éjszakára kérjük a kaput és az épület bejáratait kulcsra zárni! Az átadott kulcsok esetleges elveszése esetén a vendégek kötelesek azt haladéktalanul jelezni és annak árát, illetve a zárcserét a szállásadónak megtéríteni.

    h2 Dohányzás
    p
      | Csak a kijelölt helyeken szabad a dohányzás. Tisztelettel megkérjük dohányzó Vendégeinket, hogy a tisztaság fenntartása érdekében az udvaron, és a vendégház teljes területén a csikkeket ne szórják el, hanem azokat összegyűjtve a szemetesekbe helyezzék.
      |
      b Az épületben a dohányzás TILOS!
      |

    h2 Berendezési tárgyak használata
    p Kérjük a berendezési tárgyak rendeltetésszerű használatát! A szobák berendezését és felszerelését, beleértve a törölközőket, plédeket, ágyneműt a házból kivinni tilos!
    p A bútorokat átrendezni kizárólag a tulajdonos beleegyezésével lehet. Az érkezéskor és induláskor a szobákat megvizsgáljuk és az esetleges károk okozása esetén, az ebből fakadó költségeket a vendéggel a helyszínen megtéríttetjük. Tisztelettel megkérjük Önöket, hogy a falfelületre ne kenjék fel a rovarokat.

    h2 Takarítás
    p A szobákat a vendégek tisztán, kitakarítva veszik át. 7 napnál hosszabb elszállásolás során heti egy alkalommal ágyhuzat-csere. Az ettől eltérő igényeknek természetesen eleget teszünk, felár ellenében.

    h2 Szemételhelyezés, kezelés
    p A háztartási szemét gyűjtése a konyhában található szemetesben lehetséges (konyhai szemetesbe való zsák a fiókban található). Ha ez megtelne az Önök itt tartózkodása alatt, kérjük, ürítsék ki azt a ház mellett található szemeteskukába.

    h2 Étkezés
    p A vendégház jól felszerelt konyhával rendelkezik. A vendégek saját magukról gondoskodnak. Főzésre főzőlap, mikro áll a vendégek rendelkezésére. A mikrohullámú sütőbe ne tegyenek be fémet tartalmazó tárgyat. Kérjük, a szobákban ne étkezzenek!

    h2 Egyéb
    p Felhívjuk figyelmét, hogy a tulajdonosnak nem áll módjában felelősséget vállalni és kártérítést fizetni az önhibáján kívül történt eseményekből eredő károkért, balesetekért.(pl. természeti csapás, jégeső, tűz, áramszünet, stb.).
    p Amennyiben a tartózkodás alatt az apartmannal, szobával kapcsolatban bármilyen probléma felmerül, kérjük, haladéktalanul értesítse arról a szállásadót. Utólagos reklamációt nem áll módunkban elfogadni!
    p Tűz esetén azonnal kezdje a mentést és hívja a tűzoltókat 105-ös számon majd azt követően a szállásadót!
    p A szálláshely végleges elhagyásakor a kulcsot le kell adnia szállásadó részére. Háziállatot tilos engedély nélkül az apartmanba, illetve a vendégszobába bevinni. Szobákban hagyott személyes tárgyakért felelősséget nem vállalunk. Ágyneműt, mosogatószert-szivacsot, papírtörlőt, szappant, wc-papírt biztosítunk!
    p A tulajdonosoknak jogukban áll lemondani a szállást, ha a vendég nem tartja be a házirendet, ha megbontja a békét. Minden vita, amit nem lehet megbeszélni egymás között Polgári Peres úton kerül rendezésre.

