.hero
  agm-map([zoom]='19', [latitude]='46.706802', [longitude]='17.3624423')

  .hero-content
   h1 Levendula Apartman

   p.title Kapcsolattartó
   p.content Faházi-Takács Beatrix
   p.title Telefon
   p.content +3630/482-4651
   p.title E-mail
   p.content levendula.balatonmaria[kukac]gmail.hu
   p.title Cím
   p.content Magyarország, 8647 Balatonmáriafürdő, Vilma u. 62
   p.title Számlaszám
   p.content 12345-12323458
