.hero
  agm-map([zoom]='19', [latitude]='46.706802', [longitude]='17.3624423')

  .hero-content
    h1 Levendula apartman

    .elements(*ngFor='let element of contactInfo; let i = index')
      p.title {{element.title}}
      app-data-hider(defaultValue="{{element.defaultValue}}", [resolvDataFunction]="element.callback")