hero-container
  iframe.map(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2735.945532630302!2d17.3627761!3d46.7068091!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4768ff3cd56743c5%3A0x5335c40461b3047!2sLevendula+Apartman!5e0!3m2!1shu!2shu!4v1559239261843!5m2!1shu!2shu' width='600' height='450' frameborder='0' style='border:0' allowfullscreen='')

  card-container(title="Levendula apartman")
    .elements(*ngFor='let element of contactInfo; let i = index')
      p.title {{element.title}}
      app-data-hider(defaultValue="{{element.defaultValue}}", [resolvDataFunction]="element.callback")
