// GALLERY
.hero
  .image-container
    .wrapper(*ngFor='let image of gallery; let i = index', (click)='openCarousel(i)', appImageOpacity, (mouseenter)='onMouseEnter(i)', (mouseleave)='onMouseLeave()', id='{{ i }}')
      img.image(src='{{ image.location }}', alt='')
.carousel((click)='closeCarousel($event)', [ngStyle]='{ display: displayCarousel }')
  .current-image((click)="imageClick($event)", id="image", appImageLoader)
  .description
