<!-- GALLERY -->
<div class="hero">
  <div class="image-container">
    <div class="wrapper" *ngFor="let image of gallery; let i = index" (click)="openCarousel(i)" appImageOpacity (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave()" id="{{ i }}">
        <img src="{{ image }}" alt="" class="image" >
    </div>
  </div>
</div>
<!-- END OF GALLERY -->

<!-- IMAGE CAROUSEL -->
<div [ngStyle]="{ display: displayCarousel }" class="carousel" (click)="closeCarousel()">
  <div class="prev" (click)="loadImage('prev')"></div>
  <div class="next" (click)="loadImage('next')"></div>
  <div class="current-image" #image appImageLoader></div>
</div>
<!-- END OF IMAGE CAROUSEL -->