.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url("../../assets/img/booking-bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    cursor: pointer;
    transition: opacity 250ms;
}
.image {
    width: 300px;
    height: 200px;
    transition: opacity 250ms;
}
.current-image {
    width: 100%;
    height: calc(100% - 100px);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.active {
    opacity: 1 !important;
}
.carousel {
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: black;
}
.prev, .next {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    background-color: red;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}