.hero
  width: 100%
  min-height: 100vh
  background-size: cover
  background-position: center
  display: flex
  justify-content: center
  align-items: center
  background-image: url("../../assets/img/gallery-bg.jpg")

.image-container
  max-width: 1200px
  display: flex
  justify-content: center
  align-items: flex-start
  flex-wrap: wrap
  margin-top: 75px

.wrapper
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 300px
  height: 200px

.image-element
  position: relative
  text-align: center
  width: 300px
  height: 200px

.image
  width: 300px
  height: 200px
  padding: 10px
  cursor: pointer

.indicator
  position: absolute
  top: 10px
  left: 10px
  display: flex
  justify-content: center
  align-items: center
  width: 280px
  height: 180px
  opacity: 0
  background: black
  transition: opacity 0.25s linear
  cursor: pointer
  i
    color: white
    opacity: 1
    font-size: 25px

.indicator:hover
  visibility: visible
  opacity: .75

.current-image
  display: flex
  justify-content: space-between
  align-content: center
  align-items: center
  margin-top: 80px
  background-repeat: no-repeat
  background-size: contain
  background-position: center center
  background-color: black
  width: 100%
  height: 100%
  margin-top: 50px

.active
  opacity: 1 !important

.carousel
  display: flex
  justify-content: center
  position: fixed
  flex-direction: column
  top: 0
  right: 0
  left: 0
  bottom: 0
  height: 100%
  width: 100%
  padding-top: 75px
  padding-bottom: 50px
  background-color: rgba(0,0,0,0.8)

.description
  width: 700px
  height: auto
  border-radius: 5px
  margin-top: 10px
  margin-bottom: 0px
  margin-left: auto
  margin-right: auto
  background: white
  padding: 16px
  position: relative

  h1
    font-weight: 300
    color: #ab6cc3
    margin-bottom: 15px
    font-size: 18px
  a
    font-size: 12px

.button-container
  width: 38px
  height: 100%
  display: flex
  justify-content: center
  flex-direction: column
  margin-left: 5px
  margin-right: 5px
.button
  width: 38px
  height: 38px
  background: black
  display: flex
  justify-content: center
  align-content: center
  align-items: center
  cursor: pointer
  margin-bottom: auto
  i
    color: white
    font-size: 32px
.close
  margin-bottom: auto
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
.close-back
  transform: translateY(-19px)
.prev
  border-radius: 5px
.next
  border-radius: 5px

.current-image:hover > .caption-box
  opacity: 1

