.hero
  width: 100%
  min-height: 100vh
  background-size: cover
  background-position: center
  display: flex
  justify-content: center
  align-items: center
  background-image: url("../../assets/img/gallery-bg.jpg")

.image-container
  max-width: 1200px
  display: flex
  justify-content: center
  align-items: flex-start
  flex-wrap: wrap
  margin-top: 75px

.wrapper
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 300px
  height: 200px
  cursor: pointer
  transition: opacity 250ms

.image
  width: 300px
  height: 200px
  transition: opacity 250ms
  padding: 10px

.current-image
  display: flex
  justify-content: center
  align-content: flex-start
  align-items: center
  width: 100%
  height: calc(100%)
  margin-top: 80px
  background-repeat: no-repeat
  background-size: contain
  background-position: center center

.active
  opacity: 1 !important

.carousel
  display: flex
  justify-content: center
  position: fixed
  flex-direction: row
  top: 0
  right: 0
  left: 0
  bottom: 0
  height: 100%
  padding-top: 75px
  padding-bottom: 150px
  background-color: rgba(0,0,0,0.8)

.description
  width: 40%
  height: calc(40%)
  margin-top: 80px
  background: white

.current-image:hover > .caption-box
  opacity: 1
