// GALLERY
.hero
  .image-container
    .wrapper(*ngFor='let image of gallery; let i = index', (click)='openCarousel(i)', appImageOpacity, (mouseenter)='onMouseEnter(i)', (mouseleave)='onMouseLeave()', id='{{ i }}')
      img.image(src='{{ image.location }}', alt='')
// END OF GALLERY
// IMAGE CAROUSEL
.carousel((click)='closeCarousel($event)', [ngStyle]='{ display: displayCarousel }')
  .current-image(id="image", appImageLoader)
    //.caption-box
      a {{activeCaption}}
    .button-box.left
      .prev((click)="loadImage('prev', $event)")
        i.material-icons keyboard_arrow_left
    .button-divider
    .button-box.right
      .next((click)="loadImage('next', $event)")
        i.material-icons keyboard_arrow_right
// END OF IMAGE CAROUSEL
