hero-container
  card-container(title="Adatvédelmi és adatkezelési nyilatkozat")
    h2 Adatkezelő
    p Név: LEVENDULA APARTMAN
    p Cím: ​Magyarország, 8647 Balatonmáriafürdő, Vilma u. 62
    p Üzemeltető neve: Faházi Csaba
    p Székhely:​8648 Balatonkeresztúr, Rákóczi Ferenc u. 57
    p Adószám: 66997949-1-34
    p Telefonszám: +36304824651
    p E-mail cím: l​evendula.balatonmaria@gmail.com
    p Adatvédelmi ügyekben felelős személy: Serleg Dániel József (+36307821017) (a továbbiakban: a „Szolgáltató”)
    p A Szolgáltató tiszteletben tartja a Vendégei személyhez fűződő információs önrendelkezési jogait, elkötelezett ügyfelei és partnerei személyes adatainak védelmében; ezért az alábbi, hatályos Adatkezelési Tájékoztatója (a továbbiakban: Tájékoztató) a hivatalos weboldalon elektronikusan, illetve telephelyén (szálláshelyen) papíralapon is elérhető.
    p A Szolgáltató, mint adatkezelő kijelenti, hogy az adatkezelése összhangban van
    p Az Európai Parlament és a Tanács (EU) 2016/679 rendelete (2016. április 27.) – a természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a 95/46/EK rendelet hatályon kívül helyezéséről (általános adatvédelmi rendelet, GDPR); az információs önrendelkezési jogról, és az információszabadságról szóló 2011. évi CXII. törvény (Info.tv.)

    ul
      li a Polgári Törvénykönyvről szóló 2013. évi V. törvény (Ptk.)
      li a Fogyasztóvédelemről szóló 1997. évi CLV. törvény (Fgytv.)
      li a büntetőeljárásról szóló 1998. évi XIX. törvény (Be.)
      li a számvitelről szóló 2000. évi C. törvény (Számv.tv.)
      li az elektronikus kereskedelmi szolgáltatások, valamint az információs társadalommal összefüggő szolgáltatások egyes kérdéseiről szóló 2001. évi CVIII. törvény (Eker.tv.)
      li az elektronikus hírközlésről szóló 2003. évi C. törvény (Ehtv.)
      li a gazdasági reklámtevékenység egyes korlátairól szóló 2008. évi XLVIII. törvény(Grtv.)
      li a személy- és vagyonvédelmi, valamint a magán-nyomozói tevékenység szabályairól szóló 2005. évi CXXXIII. törvény (SZVV. tv.) rendelkezéseivel.

    p Jelen Tájékoztató bemutatja a Szolgáltató által végzett tevékenység során történő adatkezelést. A Vendégek igényeinek változatosságából adódóan az adatkezelés módja esetenként eltérhet a jelen Tájékoztatóban foglaltaktól, az ilyen eltérésekre a Vendég kérésére kerülhet sor, és annak pontos módjáról a Szolgáltató a Vendéget előzetesen tájékoztatja. Minden, a jelen Tájékoztatóban esetlegesen nem szereplő adatkezelésről, a Szolgáltató az adott adatkezelést megelőzően ad tájékoztatást.
    p Személyes adatot a Szolgáltató kizárólag előre meghatározott célból az ahhoz szükséges ideig, a jogok gyakorlása és kötelezettségek teljesítése érdekében kezel és olyan személyes adatot kezel, amely az adatkezelés céljának megvalósulásához elengedhetetlen, és a cél elérésére alkalmas.
    p Felhívjuk a Szolgáltató részére adatközlő figyelmét, hogy amennyiben nem saját személyes adatait adja meg, az adatközlő kötelessége az érintett hozzájárulásának beszerzése!
    p A tizenhat éven aluli kiskorú érintett hozzájárulását tartalmazó jognyilatkozatának érvényességéhez a törvényes képviselőjének beleegyezése, vagy utólagos jóváhagyása szükséges.
    p Minden olyan esetben, ha a közölt adatokat a Szolgáltató az eredeti adatfelvétel céljától eltérő célra használja fel, erről az érintettet tájékoztatja, és ehhez előzetes, kifejezett hozzájárulását kéri, továbbá lehetőséget biztosít számára, hogy a felhasználást megtiltsa.
    p Az adatkezelés során a Szolgáltató tudomására jutott személyes adatokat kizárólag azok, a Szolgáltató megbízásában vagy a Szolgáltatóval munkaviszonyban álló személyek ismerhetik meg, akiknek az adott adatkezeléssel kapcsolatban feladatuk van.

    h2 Adatkezelések

    h3 1. Szálláshely szolgáltatások igénybevétele
    p Az adatkezelés célja: a Szolgáltatónál szálláshely szolgáltatás vásárlása, számla kiállítása, a vendégek nyilvántartása, egymástól való megkülönböztetése, a vásárlás és fizetés dokumentálása, számviteli kötelezettség teljesítése, vásárlói kapcsolattartás, a vásárlói szokások elemzése, célzottabb kiszolgálás.
    p Az adatkezelés jogalapja: az adatkezelés a szerződés teljesítéséhez szükséges (GDPR 6. cikk (1) bek. b) pontja, a Számv.tv. 169. § (2) bekezdése.
    ul A kezelt személyes adatok köre:
      li azonosító szám
      li név (vezetéknév, keresztnév)
      li e-mail cím
      li telefonszám (vezetékes vagy mobil)
      li vendégek száma
      li érkezés és távozás dátuma

    p Az egyes szolgáltatásoknál lehetőség van további adatok megadására a „jegyzet” vagy „megjegyzések” rovatban, ami segíti a Vendég igényeinek teljes körű megismerését, ez azonban nem feltétele a foglalásnak és az egyéb szolgáltatások igénybevételének.
    p Az adatkezelés időtartama:a Számv.tv. 169. § (2) bekezdésének megfelelően 8 (nyolc) év.
    p Kártyás fizetés esetén a bankkártya és a kártyás fizetési tranzakció adatait az OTP Bank Nyrt. (1051 Budapest, Nádor u. 16.) kezeli.
    h4 Adattovábbítás:
    p Előleg és Végszámla banki átutalása továbbá a Bankkártyás fizetés esetén a fizető azonosítója, a tranzakció összege, dátuma, időpontja.
    p Adattovábbítás jogalapja: az adatkezelés a szerződés teljesítéséhez szükséges (GDPR 6. cikk (1) bek. b) pontja.

    h4 Adatfeldolgozók:

    ul
      li Foglalást kezelő személyek: Az a személy aki a foglalást visszaigazolja valamint törli a foglalást.

    h3 2. Szállás bejelentőlap
    p Az adatkezelés célja: a Szolgáltatónál szálláshely szolgáltatás vásárlás teljesítésének igazolása, számla kiállítása, a vendégek nyilvántartása, egymástól való megkülönböztetése.
    p Az adatkezelés jogalapja: az adatkezelés a szerződés teljesítéséhez szükséges (GDPR 6. cikk (1) bek. b) pontja, a Számv.tv. 169. § (2) bekezdése; idegenforgalmi adóval kapcsolatos kötelezettségek, statisztikai adatszolgáltatási kötelezettségek teljesítése, idegenrendészettel kapcsolatos kötelezettségek teljesítése.

    ul A kezelt személyes adatok köre:
      li azonosító szám
      li név (vezetéknév, keresztnév)
      li e-mail cím
      li telefonszám (vezetékes vagy mobil)
      li vendégek száma
      li érkezés és távozás dátuma

    p A kötelezően megadandó adatok Vendég általi megadása a szállodai szolgáltatás igénybevételének feltétele.
    p A bejelentőlap aláírásával a vendég hozzájárul ahhoz, hogy a bejelentőlap kitöltésével átadott személyes adatait a Szolgáltató a szerződés létrejötte, illetve teljesülésének, teljesítésének bizonyítása, illetve az esetleges igényérvényesítés céljára kezelje, elektronikus rendszerében feldolgozza, illetve archiválja a II/1.pontban foglaltaknak megfelelően kezelje.

    p A bejelentő lapon az email cím megadásával a vendégnek lehetősége van feliratkozni a Szolgáltató hírlevelére. A hírlevélre vonatkozóan egyebekben a III. 1. pontban foglaltak az irányadóak.

    h4 Az adatkezelés időtartama:
    p Az elektronikus nyilvántartásban kezelt adatok adatkezelésének időtartama a Számv.tv. 169. § (2) bekezdésének megfelelően 8 (nyolc) év (lsd. II/1.pont).
    p Az adatkezelés elmaradásának lehetséges következményei: Szerződés nem tud teljesülni; Számv. tv., helyi adórendelet, Idegenrendészeti tv. megsértése.

    h4 Adattovábbítás:
    p Statisztikai célú adattovábbítás történik, személyes adatok átadására nem kerül sor. Bizonylatok helyben történő tárolása a megsemmisítésig a telephelyen zárt iratszekrényben történik. Papír alapú bejelentőről adatfeldolgozós történik az elektronikus nyilvántartási rendszerbe, ahonnét lsd. II/1. pont szerint történik az adattovábbítás

    h4 Adatfeldolgozók:
    ul
      li Foglalást kezelő személyek: Az a személy aki a foglalást visszaigazolja valamint törli a foglalást.

    h3 3. Talált tárgyak kezelése
    p Az adatkezelés célja: a telephelyeken talált tárgyak nyilvántartása, a tulajdonos vagy a tároló értesítése. Az adatkezelés jogalapja: a Ptk. 5:54. §-a.
    p A kezelt személyes adatok köre: a találás dátuma, időpontja, a találó személye, a talált tárgy megnevezése, annak ténye, hogy sikerült-e értesíteni a tulajdonost, a raktározás helye, a találó és átadás esetén az átvevő aláírása, címre történő továbbítás esetén a postázás időpontja, postai szolgáltató megjelölése.
    p Az adatkezelés időtartama: Az adatok törlésre, megsemmisítésre kerülnek a talált tárgy tulajdonos általi átvétele vagy a települési jegyzőnek átadás esetén az átadást követően, de legkésőbb a találástól számított egy év elteltével.
    p Az adatkezelés elmaradásának lehetséges következményei: az adatkezelő nem tud eleget tenni jogszabályi kötelezettségének.

    h4 Adattovábbítás:
    p Talált tárgy hatóság részére történő átadás esetén, illetékes hatóságnak (települési jegyzőnek)
    h4 Adattovábbítás jogalapja:
    p Jogszabályi kötelezettség teljesítése

    h4 Adatfeldolgozók:
    ul
      li Szálláshely tulajdonosa: adatfeldolgozás, nyilvántartások vezetése, számlázás, bizonylatok őrzése,
      li Postai szolgáltató: Talált tárgy megküldése esetén címre kézbesítés.

    h3 4. WIFI szolgáltatás kezelése
    p Az adatkezelés célja: a vendégek részére wifi kapcsolaton keresztül internet elérés biztosítása
    p Az adatkezelés jogalapja: az érintett hozzájárulása, a hozzájárulás megadása tevőleges magatartással a wifi hálózatához történő csatlakozással történik, wifi szolgáltatás díjtalan.
    p A kezelt személyes adatok köre: a csatlakoztatott készülék egyedi azonosítója (MAC címe)
    p Az adatkezelés időtartama: a csatlakozás időtartama alatt, a csatlakozás megszűnésével az adatok nem tárolódnak tovább.
    p Az adatkezelés elmaradásának lehetséges következményei: vendég a szolgáltatást nem tudja igénybe venni.

    h4 Adattovábbítás:
    p Nem történik Adattovábbítás jogalapja: ----

    h4 Adatfeldolgozók:
    p Internet elérést biztosító szerződött szolgáltató

    h3 5. Rendkívüli események kezelése
    p Az adatkezelés célja: a bekövetkezett rendkívüli esemény kezelése,
    p Az adatkezelés jogalapja: az adatkezelő vagy más személyek jogos érdeke (GDPR 6. cikk (1) bek. f) pontja),
    p A kezelt személyes adatok köre: név, cím, telefonszám, esemény dátuma, időpontja, esemény leírása, intézkedés leírása, tanúk, közreműködők neve, címe, telefonszáma, elérhetősége;
    p Az adatkezelés időtartama: vendégbaleseti jegyzőkönyvek tekintetében 5 év
    p Az adatkezelés elmaradásának lehetséges következményei: ellehetetlenül a rendkívüli eseményből eredő jogok érvényesítése.

    h4 Adattovábbítás:
    p Érintett kérésére

    h4 Adattovábbítás jogalapja:
    p érintett jogos érdeke

    h2 Marketing és piackutatási adatbázis
    h3 1. Hírlevél
    p Az adatkezelés célja: A Szolgáltató hírlevelet természetes személy címzett esetén kizárólag a direkt marketing megkereséshez hozzájárulásukat adók részére küld az üzleti célú adatbázis építése, az érintettek részére gazdasági reklámokat is tartalmazó tájékoztatók, ajánlatok küldése céljából; online vagy papíralapú formában. Direkt marketing célú megkereséshez csak 16. életévüket betöltött személyek járulhatnak hozzá!
    p Az adatkezelés jogalapja: az érintett önkéntes hozzájárulása (Grt. 6. § (5) bekezdése).
    p A kezelt személyes adatok köre: azonosító szám, név, email-cím. A rendszer tárolja a fel- és leiratkozással, az üzenetek küldésével, kézbesítésével, megnyitásával, az érintett online aktivitásával kapcsolatos analitikai adatokat, számítógép IP címét.
    p Az adatkezelés időtartama: az érintett hozzájáruló nyilatkozatának visszavonásáig. Az érintett a hírlevélről bármikor leiratkozhat, az emailben megtalálható „hírlevélre feliratkozás” link segítségével, valamint igényelheti a leiratkozást emailben is a levendula.balatonmaria@gmail.com​címen.
    p A Szolgáltató a hírlevél listát ötévente felülvizsgálja, és azon felhasználók akik nem vették igénybe a szolgáltatást több mint 5 éve azoknak az adatait törli a rendszerből.
    p Az adatkezelés elmaradásának lehetséges következményei: érintett nem értesül a szolgáltató ajánlatairól, akcióiról.

    h4 Adattovábbítás
    p tevékenységgel kapcsolatban adattovábbítás a marketing célra használt hírlevél küldő rendszernek történik.
    h4 Adattovábbítás jogalapja
    p ---
    h4 Adatfeldolgozók:
    ul
      li Szolgáltató szerződött rendszergazdai feladatainak ellátója: Szolgáltatás admin.felület rendszergazdai feladatainak ellátása
      li Szolgáltatóval szerződött Web-tárhelyet nyújtó vállalkozás: Online szobafoglalási rendszer tárhely szolgáltatása
      li Szolgáltató kiszervezett marketing feladatait ellátó: Hírlevelek, tájékoztatók küldése, Facebook rendszereken kommunikáció, célcsoport meghatározások
      li Szolgáltató alkalmazottja, adminisztrátor munkatársai: adminisztráció, nyilvántartások vezetése, hírlevelek kiküldése

    h2 Weboldal adatkezelései
    p A ​www.levendulabalatonmaria.info​ weblap meglátogatásakor a webszerver felhasználói adatokat nem rögzít.

    h3 1. Külső szolgáltatók naplózással kapcsolatos adatkezelése:
    p A portál html kódja a Szolgáltatótól független, külső szerverről érkező és külső szerverre mutató hivatkozásokat tartalmaz. A külső szolgáltató szervere közvetlenül a felhasználó számítógépével áll kapcsolatban. Felhívjuk látogatóink figyelmét, hogy e hivatkozások szolgáltatói az Ő szerverükre történő közvetlen kapcsolódás, a felhasználó böngészőjével való közvetlen kommunikáció miatt felhasználói adatokat (IP cím, böngésző, operációs rendszer adatai, egérmutató mozgása, meglátogatott oldal címe és a látogatás időpontja) képesek gyűjteni.
    p A felhasználó számára esetlegesen személyre szabott tartalmakat a külső szolgáltató szervere szolgálja ki. Az adatok külső szolgáltatók szervere általi kezeléséről az alább felsorolt adatkezelők tudnak részletes felvilágosítást nyújtani.
    p A ​www.levendulabalatonmaria.info​ weboldal látogatottsági és egyéb webanalitikai adatainak független mérését és auditálását külső szolgáltatóként a Google Analytics szervere segíti. A honlapon külső szolgáltatóként térkép-információkat jelenít meg a ​www.maps.google.com címen elérhető szolgáltató.
    p A mérési adatok kezeléséről az adatkezelő a ​http://www.google.com/intl/hu/policies/​címen ad részletes felvilágosítást.

    h3 2. A Szolgáltató elérhető a Facebook és Instaram közösségi portálon.
    p Az adatkezelés célja: a ​www.levendulabalatonmaria.info​ weboldalán található tartalmak megosztása. A Facebook oldal segítségével a Vendég időpontot foglalhat, részt vehet a nyereményjátékokban és tájékozódhat a legújabb akciókról. A Szolgáltató Facebook/Instagram oldalán a „tetszik”/”like”- linkre kattintással az érintett hozzájárul a Társaság híreinek és ajánlatainak közzétételéhez a saját üzenőfalán.
    p A hírlevélre a III.1.pontban foglaltak érvényesek. Szobafoglalás esetén a Vendéget a rendszer automatikusan átirányítja a ​www.levendulabalatonmaria.info​honlapjára. Az adatkezelés a II.1. pontban foglaltak szerint folyik.
    p A Facebook alkalmazásokban található üzenőfalon közzétett hírfolyamra a Vendég az oldalon található „like”/ „tetszik” linkre kattintva iratkozhat fel, és az ugyanitt található „dislike”/”nem tetszik” linkre kattintva iratkozhat le, illetve az üzenő fal beállításai segítségével törölheti a nem kívánt, üzenő falon megjelenő hírfolyamokat. Továbbiakról bővebben a Facebook alkalmazások adatvédelmi tájékoztatóiban: https://www.facebook.com/privacy/explanation​.
    p A Szolgáltató honlapján, Facebook/Instagram oldalán képeket/filmeket is közzétesz a különböző eseményekről/szolgáltatásokról stb.. Amennyiben nem tömegfelvételről van szó, a Szolgáltató kikéri az érintett írásbeli hozzájárulását a képek közzététele előtt.

    h2 Adatbiztonság

    h3 1. SSL rendszer
    p A Szolgáltató weboldala SSL adatvédelmi kódoló szoftvert alkalmaz online foglalások esetében. Bármely információ, amelyet az érintett megoszt a Szolgáltatóval, automatikusan adatvédelmi kódolásra kerül, és a hálózaton történő továbbítás során védelem alatt áll. Amint az információ beérkezik szerverünkre, dekódolásra kerül egy egyedi magánkulcs használatával. Az SSL lehetővé teszi a böngésző részére a weboldalra történő kapcsolódást és egy biztonságos kommunikációs csatornában történő megállapodást áttekinthető módon. Az SSL a legszélesebb körben alkalmazott és legsikeresebb biztonságos ügyleti rendszer. E rendszer használatához az érintettnek egyszerűen ellenőriznie kell böngészője összeférhetőségét.

    h3 2. Egyéb biztonsági tevékenységek
    p A Szolgáltató biztosítja annak ellenőrizhetőségét és megállapíthatóságát, hogy a személyes adatokat adatátviteli berendezés alkalmazásával mely szerveknek továbbították vagy továbbíthatják, mely személyes adatokat, mely adatot mikor és ki vitte be a rendszerbe, és a rendszer üzemzavar esetén történő helyreállíthatóságát. Az automatizált feldolgozás során fellépő hibákról jelentés készül.
    p A Szolgáltató a személyes adatokat bizalmasan kezeli, azokat illetékteleneknek nem szolgáltatja ki. A személyes adatokat védi különösen a jogosulatlan hozzáférés, megváltoztatás, továbbítás, nyilvánosságra hozatal, törlés vagy megsemmisítés, valamint a véletlen megsemmisülés, sérülés továbbá az alkalmazott technika megváltozásából fakadó hozzáférhetetlenné válás ellen. A személyes adatok technikai védelmének biztosítása érdekében minden biztonsági intézkedést megtesz.

    h3 3. Adattovábbítás
    p A Szolgáltató részére átadott személyes adatok adattovábbításra kizárólag akkor van lehetőség, ha arról az érintettet, az adott szolgáltatás igénybevételénél előzőleg tájékoztatták.
    p A Szolgáltató az adattovábbítás jogszerűségének ellenőrzése, valamint az érintett tájékoztatása céljából adattovábbítási nyilvántartást vezet, amely tartalmazza az általa kezelt személyes adatok továbbításának időpontját, az adattovábbítás jogalapját és címzettjét, a továbbított személyes adatok körének meghatározását, valamint az adatkezelést előíró jogszabályban meghatározott egyéb adatokat.
    p A Szolgáltató a jogszabályban meghatározott esetekben az érintett külön hozzájárulása nélkül is, az általa kezelt személyes adatokat az illetékes hatóságok, bíróságok részére azok megkeresésének megfelelően átadhatja.

    h3 4. Adatok tárolása, biztonsága, adatvédelmi incidens kezelése
    p A Szolgáltató a kockázat mérlegelésen alapuló, megfelelő mértékű adatbiztonságot garantálja, melyet az adatfeldolgozói technológia állása, a megvalósítás költségei, adatkezelés jellege, hatóköre, a természetes személyek jogaira és szabadságaira jelentett, változó valószínűségű és súlyú kockázatok figyelembevételével megfelelő technikai és szervezési intézkedésekkel hajt végre.

    ul A személyes adatok kezeléséhez az alkalmazott informatikai eszközöket úgy választja meg és üzemelteti, hogy a kezelt adat legyen:
      li az arra feljogosított számára hozzáférhető (rendelkezésre állás),
      li hitelessége és hitelesítése biztosított (adatkezelés hitelessége),
      li változatlansága igazolható (adatintegritás),
      li jogosulatlan hozzáférés ellen védett (adat bizalmassága).
      li Az adatokat megfelelő műszaki, szervezési és szervezeti intézkedésekkel védi a jogosulatlan hozzáférés, megváltoztatás, továbbítás, nyilvánosságra hozatal, törlés vagy megsemmisítés, véletlen megsemmisülés, hozzáférhetetlenné válás ellen.

    p Adatkezelései során biztosítja a titkosságot, sértetlenséget és a jogosult részére való rendelkezésre állást.
    p Szolgáltató, mint adatkezelő nyilvántartja az esetleges adatvédelmi incidenseket, feltüntetve az ahhoz kapcsolódó tényeket, annak hatásait és orvoslására tett intézkedéseket. Késedelem nélkül – legkésőbb az adatvédelmi incidens tudomásra jutásától számított 72 órán belül – bejelenti a Nemzeti Adatvédelmi és Információszabadság Hatóságnak, kivéve, ha az adatvédelmi incidens valószínűsíthetően nem jár kockázattal a természetes személyek jogaira és szabadságaira nézve. Egyúttal az incidensről az érintetteket tájékoztatja.

    h2 Érintetti jogok, jogorvoslati lehetőségek

    p Az érintett tájékoztatást kérhet személyes adatai kezeléséről, kérheti személyes adatainak helyesbítését, - a kötelező adatkezeléseket kivéve – törlését, visszavonását, korlátozhatja az adatkezelést, élhet adathordozási- , és tiltakozási jogával az adat felvételénél jelzett módon, az adatkezelő ügyfélszolgálata útján.

    h3 1. Tájékoztatáshoz való jog
    p Szolgáltató megfelelő intézkedéseket hoz annak érdekében, hogy az érintett részére a személyes adatok kezelésére vonatkozó, a GDPR 13. és 14. cikke szerinti valamennyi információt, a 15-22. és a 34. cikk szerinti formában minden egyes tájékoztatást tömör, átlátható, érhető és könnyen hozzáférhető formában, világosan és közérthetően megfogalmazva nyújtja.

    h3 2. Hozzáféréshez való jog
    p Az érintett jogosult arra, hogy az adatkezelőtől tájékoztatást kapjon arra vonatkozóan, hogy személyes adatainak kezelése folyamatban van-e, ha ilyen adatkezelés folyamatban van, jogosult arra, hogy a személyes adatokhoz és a következő információkról tájékoztatást kapjon:

    ul
      li az adatkezelés célja,
      li az érintett személyes adatok kategóriái,
      li azon címzettek vagy címzettek kategóriái, akikkel/amelyekkel a személyes adatokat közölték vagy közölni fogják (ideértve különösen a harmadik országbeli címzetteket, a nemzetközi szervezeteket), megfelelő garanciákról,
      li a személyes adatok tárolásának időtartamáról,
      li a helyesbítés, törlés, adatkezelés korlátozásáról, tiltakozás jogáról,
      li felügyeleti hatósághoz címzett panasz benyújtásának jogáról,
      li az adatforrásokra vonatkozó információkról,
      li az automatizált döntéshozatal rényéről, profilalkotásról, az alkalmazott logikára vonatkozó érthető információról, hogy milyen várható következményekkel és jelentőséggel bír az adatkezelés, Szolgáltató az érintett kérésére az adatkezelés tárgyát képező személyes adatok másolatát az érintett rendelkezésére bocsátja papír alapon vagy elektronikus formában.
    p A tájékoztatáshoz való jog írásban a Szolgáltató (Adatkezelő) megjelölt elérhetőségein keresztül gyakorolható: Lsd 2. oldal. Az érintett részére kérésére – személyazonosságának hitelt érdemlő igazolása és beazonosítását követően – szóban is adható tájékoztatás.

    h3 3. Helyesbítéshez való jog
    p Az érintett kérheti a Szolgáltatótól az általa kezelt, rá vonatkozó pontatlan személyes adatok helyesbítését és a hiányos adatok kiegészítését a Szolgáltató (Adatkezelő) megjelölt elérhetőségein keresztül: Lsd 2. oldal.

    h3 4. Törléshez való jog
    p Az érintett az alábbi indokok valamelyikének fennállása esetén jogosult arra, hogy kérésére a Szolgáltató indokolt késedelem nélkül törölje a rá vonatkozó személyes adatokat:
    ul
      li személyes adatokra már nincs szükség abból a célból, amelyből azokat gyűjtötték vagy más módon kezelték
      li az érintett visszavonja az adatkezelés alapját képező hozzájárulását és az adatkezelésnek nincs más jogalapja;
      li az érintett tiltakozik az adatkezelés ellen és nincs elsőbbséget élvező jogszerű ok az adatkezelésre;
      li a személyes adatokat jogellenesen kezelték; a személyes adatokat az adatkezelőre alkalmazandó uniós vagy tagállami jogban előírt jogi kötelezettség teljesítéséhez törölni kell.
    p Az adatok törlése adatkezelő részéről megtagadható, ha az adatkezelés szükséges:
    ul
      li a véleménynyilvánítás szabadságához és a tájékozódáshoz való jog gyakorlása céljából,
      li a személyes adatok kezelését előíró, az adatkezelőre alkalmazandó uniós vagy tagállami jog szerinti kötelezettség teljesítése céljából vagy közérdekből;
      li az adatkezelőre ruházott közhatalmi jogosítvány gyakorlása keretében végzett feladat végrehajtása céljából, közérdek alapján;
      li jogi igények előterjesztéséhez, érvényesítéséhez és védelméhez.

    h3 5. Adatkezelés korlátozásához való jog
    p Az érintett kérésére a Szolgáltató korlátozza az adatkezelést, ha az alábbi feltételek valamelyike teljesül:
    ul
      li az érintett vitatja a személyes adatok pontosságát, ez esetben a korlátozás arra az időszakra vonatkozik, amely lehetővé teszi a személyes adatok pontosságának ellenőrzését;
      li az adatkezelés jogellenes és az érintett ellenzi az adatok törlését, helyette kéri azok felhasználásának korlátozását;
      li az adatkezelőnek már nincs szüksége a személyes adatokra adatkezelés céljából, de az érintett igényli azokat jogi igénye előterjesztéséhez, érvényesítéséhez vagy védelméhez;
      li az érintett tiltakozott az adatkezelés ellen, de szükséges annak megállapítása, hogy az adatkezelő jogos indokai elsőbbséget érveznek-e az érintett indokaival szemben. Ez esetben a korlátozás a megállapítás időtartamára terjed ki.
    p Ha az adatkezelés korlátozás alá esik, a személyes adatokat a tárolás kivételével csak az érintett hozzájárulásával vagy jogi igény előterjesztéséhez, érvényesítéséhez vagy védelméhez; vagy más természetes vagy jogi személy jogainak védelme érdekében, vagy az Uniós /valamely tagállami fontos közérdekből lehet kezelni.
    p Szolgáltató az érintettet tájékoztatja az adatkezelés korlátozásának feloldásáról.

    h3 6. Adathordozáshoz való jog
    p Az érintett jogosult arra, hogy a rá vonatkozó, általa az adatkezelő rendelkezésére bocsátott személyes adatokat tagolt, széles körben használt, géppel olvasható formátumban megkapja, és ezeket az adatokat egy másik adatkezelőnek továbbítsa.
    h3 7. Tiltakozás joga
    p Az érintett jogosult arra, hogy a saját helyzetével kapcsolatos okokból bármikor tiltakozzon személyes adatainak közérdekű vagy az adatkezelőre ruházott közhatalmi jogosítvány gyakorlásának keretében végzett feladat végrehajtásához szükséges adatkezelés, vagy az adatkezelő vagy egy harmadik fél jogos érdekeinek érvényesítéséhez szükséges kezelése ellen, ideértve az említett rendelkezéseken alapuló profilalkotást is.
    p Tiltakozás esetén az adatkezelő a személyes adatokat nem kezelheti tovább, kivéve, ha azt olyan kényszerítő erejű jogos okok indokolják, amelyek elsőbbséget élveznek az érintett érdekeivel, jogaival és szabadságaival szemben, vagy amelyek jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez kapcsolódnak.
    p Ha a személyes adatok kezelése közvetlen üzletszerzés érdekében történik, az érintett jogosult arra, hogy bármikor tiltakozzon a rá vonatkozó személyes adatok e célból történő kezelése ellen, ideértve a profilalkotást is, amennyiben az a közvetlen üzletszerzéshez kapcsolódik.
    h3 8. Automatizált döntéshozatal, profilalkotás
    p Az érintett jogosult arra, hogy ne terjedjen ki rá az olyan, kizárólag automatizált adatkezelésen – ideértve a profilalkotást is – alapuló döntés hatálya, amely rá nézve joghatással járna vagy őt hasonlóképpen jelentős mértékben érintené.
    p Nem alkalmazható ezen jogosultság, ha az adatkezelés az érintett és az adatkezelő közötti szerződés megkötése vagy teljesítése érdekében szükséges; meghozatalát az adatkezelőre alkalmazandó olyan uniós vagy tagállami jog teszi lehetővé, amely az érintett jogainak és szabadságainak, valamint jogos érdekeinek védelmét szolgáló megfelelő intézkedéseket is megállapít; vagy az érintett kifejezett hozzájárulásán alapul.
    h3 9. Visszavonás joga
    p Az érinett jogosult arra, hogy hozzájárulását bármikor visszavonja. A hozzájárulás visszavonása nem érinti a hozzájáruláson alapuló, a visszavonás előtti adatkezelés jogszerűségét.

    h3 10. Eljárási szabályok
    p Az adatkezelő indokolatlan késedelem nélkül, a kérelem beérkezésétől számított egy hónapon belül tájékoztatja az érintett a GDPR 15-22. cikk szerinti kérelem alapján hozott intézkedésekről. Szükség esetén – figyelembe véve a kérelem összetettségét és a kérelmek számát – a határidő további két hónappal meghosszabbítható. A határidő meghosszabbításáról az adatkezelő a késedelem okainak megjelölésével a kérelem kézhezvételétől számított egy hónapon belül tájékoztatja az érintettet. Ha az érintett elektronikus úton nyújtotta be a kérelmet, a tájékoztatás megadására elektronikus úton kerül sor, kivéve, ha az érintett azt kifejezetten másként kéri.
    p Amennyiben az adatkezelő nem tesz intézkedéseket az érintett kérelme alapján, késedelem nélkül, de legkésőbb a kérelem beérkezésétől számított egy hónapon belül, illetve nem tájékoztatja az érintettet az intézkedés elmaradásának okairól, érintett panasz nyújtható be valamely felügyeleti hatósághoz és élhet bírósági jogorvoslati jogával.
    p Szolgáltató a kért információkat és tájékoztatást díjmentesen biztosítja.
    p Adatkezelő az adatkezelés tárgyát képező személyes adatok másolatát az érintett rendelkezésére bocsátja.

    h3 11. Kártérítés és sérelemdíj
    p Minden olyan személy, aki az adatvédelmi rendelet megsértésének eredményeként vagyoni vagy nem vagyoni kárt szenvedett, az elszenvedett kárért az adatkezelőtől vagy az adatfeldolgozótól kártérítésre jogosult. Az adatfeldolgozó abban az esetben tartozik felelősséggel az adatkezelés által okozott károkért, ha nem tartotta be a jogszabályban meghatározott, kifejezetten az adatfeldolgozókat terhelő kötelezettségeket, vagy ha az adatkezelő jogszerű utasításait figyelmen kívül hagyta vagy azokkal ellentétesen járt el.
    p Ha több adatkezelő vagy több adatfeldolgozó; vagy mind az adatkezelő, mind az adatfeldolgozó érintett ugyanabban az adatkezelésben és felelősséggel tartozik az adatkezelés által okozott károkért, minden egyes adatkezelő vagy adatfeldolgozó egyetemleges felelősséggel tartozik a teljes kárért.
    p Az adatkezelő vagy az adatfeldolgozó mentesül a felelősség alól, ha bizonyítja, hogy a kárt előidéző eseményért őt semmilyen módon felelősség nem terheli.

    h3 12. Panasz és bírósághoz fordulás joga
    p Amennyiben a Szolgáltató adatkezelésével kapcsolatban kérdése, problémája van, kérjük jelezze elérhetőségeinken (Lsd: Adatkezelő 2. oldal).
    p Panasszal fordulhat a Nemzeti Adatvédelmi és Információszabadság Hatóság-hoz

    p Székhely: 1125 Budapest, Szilágyi Erzsébet fasor 22/C. Levelezési cím: 1534 Budapest, Pf.: 834;
    p Telefon: +36 (1) 391-1400
    p Fax: +36 (1) 391-1410
    p www: ​http://www.naih.hu; e-mail: ​ugyfelszolgalat@naih.hu​)
    p Érintett a jogainak megsértése esetén az adatkezelő ellen (az érintett választása szerint az alperes székhelye vagy az érintett lakóhelye szerinti illetékes) bírósághoz fordulhat. A bíróság az ügyben soron kívül jár el. A személyes adatok védelmével összefüggésben indított per illetékmentes.
    p Az Adatvédelmi Tájékoztató hatályos: 2019. május 1. napjától.
    p Szolgáltató fenntartja a jogot a jelen Tájékoztató módosítására, mely módosításról a érintetteket értesíti.
    h2 Fogalommagyarázat
    p Érintett: bármely meghatározott, személyes adat alapján azonosított vagy - közvetlenül vagy közvetve - azonosítható természetes személy;
    p Személyes adat: az érintettel kapcsolatba hozható adat - különösen az érintett neve, azonosító jele, valamint egy vagy több fizikai, fiziológiai, mentális, gazdasági, kulturális vagy szociális azonosságára jellemző ismeret -, valamint az adatból levonható, az érintettre vonatkozó következtetés;
    p Különleges adat: faji eredetre, a nemzetiséghez tartozásra, a politikai véleményre vagy pártállásra, a vallásos vagy más világnézeti meggyőződésre, az érdek-képviseleti szervezeti tagságra, a szexuális életre vonatkozó személyes adat, valamint az egészségi állapotra, a kóros szenvedélyre vonatkozó személyes adat, és a bűnügyi személyes adat;
    p Hozzájárulás: az érintett akaratának önkéntes és határozott kinyilvánítása, amely megfelelő tájékoztatáson alapul, és amellyel félreérthetetlen beleegyezését adja a rá vonatkozó személyes adatok - teljes körű vagy egyes műveletekre kiterjedő - kezeléséhez;
    p Tiltakozás: az érintett nyilatkozata, amellyel személyes adatainak kezelését kifogásolja, és az adatkezelés megszüntetését, illetve a kezelt adatok törlését kéri;
    p Adatkezelő: az a természetes vagy jogi személy, illetve jogi személyiséggel nem rendelkező szervezet, aki, vagy amely önállóan vagy másokkal együtt az adatok kezelésének célját meghatározza, az adatkezelésre (beleértve a felhasznált eszközt) vonatkozó döntéseket meghozza és végrehajtja, vagy az általa megbízott adatfeldolgozóval végrehajttatja;
    p Adatkezelés: az alkalmazott eljárástól függetlenül az adatokon végzett bármely művelet vagy a műveletek összessége, így különösen gyűjtése, felvétele, rögzítése, rendszerezése, tárolása, megváltoztatása, felhasználása, lekérdezése, továbbítása, nyilvánosságra hozatala, összehangolása vagy összekapcsolása, zárolása, törlése és megsemmisítése, valamint az adatok további felhasználásának megakadályozása, fénykép-, hang- vagy képfelvétel készítése, valamint a személy azonosítására alkalmas fizikai jellemzők (pl. ujj- vagy tenyérnyomat, DNS-minta, íriszkép) rögzítése;
    p Adattovábbítás: az adat meghatározott harmadik személy számára történő hozzáférhetővé tétele;
    p Nyilvánosságra hozatal: az adat bárki számára történő hozzáférhetővé tétele;
    p Adattörlés: az adatok felismerhetetlenné tétele oly módon, hogy a helyreállításuk többé nem lehetséges;
    p Adatmegjelölés: az adat azonosító jelzéssel ellátása annak megkülönböztetése céljából;
    p Adatkorlátozás/Adatzárolás: az adat azonosító jelzéssel ellátása további kezelésének végleges vagy meghatározott időre történő korlátozása céljából;
    p Adatfeldolgozás: az adatkezelési műveletekhez kapcsolódó technikai feladatok elvégzése, függetlenül a műveletek végrehajtásához alkalmazott módszertől és eszköztől, valamint az alkalmazás helyétől, feltéve hogy a technikai feladatot az adatokon végzik;
    p Adatfeldolgozó:az a természetes vagy jogi személy, illetve jogi személyiséggel nem rendelkező szervezet, aki, vagy amely az adatkezelővel kötött szerződése alapján - beleértve a jogszabály rendelkezése alapján történő szerződéskötést is - adatok feldolgozását végzi;
    p Harmadik személy: olyan természetes vagy jogi személy, illetve jogi személyiséggel nem rendelkező szervezet, aki, vagy amely nem azonos az érintettel, az adatkezelővel vagy az adatfeldolgozóval.
    p Adatvédelmi incidens: személyes adat jogellenes kezelése vagy feldolgozása, így különösen a jogosulatlan hozzáférés, megváltoztatás, továbbítás, nyilvánosságra hozatal, törlés vagy megsemmisítés, valamint a véletlen megsemmisülés és sérülés.

    p [1] Harmadik ország állampolgára: Magyar állampolgár kivételével minden olyan személy, aki nem Európai Gazdasági Térség tagállam állampolgára, ideértve a hontalant is. Az EGT tagállamai: az Európai Unió tagállamai, Izland, Liechtenstein, és Norvégia, mint részes tagállam, valamint Svájc, mint azonos jogállású állam.
