hero-container
  card-container(title="Adatvédelmi és adatkezelési nyilatkozat", translateKey="privacy_statement.title")
    h2.subtitle(translate key="translated_by.translated_by")
    .content(translate key="privacy_statement.content")
