<div class="menu" [ngClass]="{'menu-scroll': isScrolled}">
  <div class="menu-container">

    <div id="logo">
      <span id="logo-image"></span>
      <span id="logo-text">Levendula apartman</span>
    </div>

    <ul id="links">
      <li #openingLink (click)="onClick($event)" class="link selected" [scrollTo]="'#opening'">Kezdőlap</li>
      <li #introLink (click)="onClick($event)" class="link" [scrollTo]="'#intro'">Bemutatkozás</li>
      <li #locationLink (click)="onClick($event)" class="link" [scrollTo]="'#location'">Elhelyezkedés</li>
      <li #roomsLink (click)="onClick($event)" class="link" [scrollTo]="'#rooms'">Kialakítás</li>
      <li #radarLink (click)="onClick($event)" class="link" [scrollTo]="'#radar'">Programok</li>
      <li #bookingLink (click)="onClick($event)" class="link" [scrollTo]="'#booking'">Foglalás</li>
      <li #seasonalLink (click)="onClick($event)" class="link" [scrollTo]="'#seasonal'">Szezonális</li>
    </ul>

  </div>
</div>

<section #opening id="opening" class="section">
  <div class="row">
    <div class="column welcome">
      <div id="welcome-logo"></div>
    </div>
    <div class="column welcome">
      <div id="welcome-text">
        <p>Érezze magát otthon nálunk.</p>
        <button>Foglalás</button>
      </div>
    </div>
  </div>
  <div id="scroll-down">
    <span id="scroll-logo"></span>
    <p>A részletekért tekerj lejjebb ;)</p>
  </div>
</section>

<section #intro id="intro" class="section">
  <div class="row">
    <div class="column">
      <h2>Column 1</h2>
      <p>Some text..</p>
    </div>
    <div class="column">
      <h2>Column 2</h2>
      <p>Some text..</p>
    </div>
  </div>
</section>

<section #location id="location" class="section">

</section>

<section #rooms id="rooms" class="section">

</section>

<section #radar id="radar" class="section">
  <app-event-radar> </app-event-radar>
</section>

<section #booking id="booking" class="section">

</section>

<section #seasonal id="seasonal" class="section">

</section>

<footer>

</footer>
