<div class="menu" [ngClass]="{'menu-scroll': isScrolled}">
  <div class="menu-container">

    <div id="logo">
      <span id="logo-image"></span>
      <span id="logo-text">Levendula apartman</span>
    </div>

    <ul id="links">
      <li [scrollTo]="'#opening'">Kezdőlap</li>
      <li [scrollTo]="'#intro'">Bemutatkozás</li>
      <li [scrollTo]="'#location'">Elhelyezkedés</li>
      <li [scrollTo]="'#rooms'">Kialakítás</li>
      <li [scrollTo]="'#radar'">Programok</li>
      <li [scrollTo]="'#booking'">Foglalás</li>
      <li [scrollTo]="'#seasonal'">Szezonális</li>
    </ul>

  </div>
</div>

<section #opening id="opening" class="section">

</section>

<section #intro id="intro" class="section">

</section>

<section #location id="location" class="section">

</section>

<section #rooms id="rooms" class="section">

</section>

<section #radar id="radar" class="section">
  <app-event-radar> </app-event-radar>
</section>

<section #booking id="booking" class="section">

</section>

<section #seasonal id="seasonal" class="section">

</section>

<footer>

</footer>
