
/*
*
* MENU
*
*/
#menu {
  position: fixed;
  width: 100%;
  height: 64px;
  background: red;
  z-index: 1000;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: auto;
}

.menu-scroll {
  background: black;
  height: 70px;
  box-shadow: 0 0 100px rgba(0,0,0,1);
}

/*
*
* LOGO
*
*/
#logo {
  width: 250px;
  height: 64px;

  position: relative;
}
#logo-image {
  width: 64px;
  height: 64px;
  background-image: url("image/logo.png");
  background-size: cover;
  background-position: center;

  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#logo-text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
}

/*
*
* LINKS
*
*/
#links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
#links li {
  margin-right: 20px;
  cursor: pointer;
}
#links li::before {
  position: relative;
  content: "#";
  opacity: 0;
  transition: all .5s;
  left: -3px;
}
#links li:hover::before {
  content: "#";
  position: relative;
  left: -3px;
  opacity: 1;
}
#links li:nth-of-type(3) {
  margin-right: 0;
}

/*
*
* PAGES
*
*/
#opening {
  background: burlywood;
}

#intro{
  background: aquamarine;
}

#location {
  background: chocolate;
}

#rooms {
  background: chartreuse;
}

#radar {

}

#booking {
  background: cornflowerblue;
}

#seasonal {
  background: darkslategrey;
}

/*
*
* FOOTER
*
*/
footer {
  background: deeppink;
  height: 300px;
  width: 100%;
}

/*
*
* OTHER
*
*/
.section {
  height: 100vh;
  width: 100%;
}
