.record-wrapper
  .date-container
    .date
      .month {{getMonthName(fromDate)}}
      .day {{getDay(fromDate)}}
    .date#separator(*ngIf="toDate!=''")
      .day -
      .month
    .date
      .month {{getMonthName(toDate)}}
      .day {{getDay(toDate)}}
  .description-container
    h1 {{getTitle()}}

    ul
      li Távolság: {{ distance }} km
      li Helyszín: 
        a( *ngIf="getLocation()==''") -
        a.url(target="_blank", rel="noopener noreferrer", [href]="'https://www.google.hu/maps/place/' + getLocation()") {{eventLocation}}
      li Weboldal: 
        a( *ngIf="description==''") -
        a.url(target="_blank", rel="noopener noreferrer", href="{{description}}", *ngIf="description!=''") Kattints ide!