hero-container
  card-container(title="Foglalással kapcsolatos információk", translateKey="booking_info.title")
    h2.subtitle(translate key="booking_info.translated_by")
    .content(translate key="booking_info.content")
