hero-container
  card-container(title="Foglalással kapcsolatos információk")
    p
      | Az alábbi oldalon a foglalással és a foglalás lemondásával kapcsolatos információkat találod. Az előleg utalásával kapcsolatos információkat (e-mail, telefonszám, stb…) a
      |
      a(routerLink="/contact") kapcsolatok
      |  menüpont alatt.

    h2 Foglalás küldése

    p
      | A weboldalon a ​
      |
      a(routerLink="/contact") foglalás​
      |
      |  menüpont alatt a naptár nézetben hagyományos fekete betű színnel láthatod a szabad (nem foglalt) napokat, szürkén szedett betűvel a foglalt napokat és sárga betűvel a még nem véglegesített foglalásokat látod.
    p
      | A vissza nem igazolt foglalások
      b  72 óra után lejárnak
      | , így az az időszak felszabadul és más felhasználók lefoglalhatják azt.
    p Foglalásod könnyedén elküldheted a ​foglalás​ menüpont alatt. A sikeres foglaláshoz az összes mező kitöltése kötelező kivéve a megjegyzés részt, ami opcionális.

    p A mezők:
    ul
      li
        |
        b Érkezés és távozás
        | : Itt választhatsz a szabad időpontok közül.
      li
        |
        b Név
        |: Kérlek úgy add meg a neved ahogy szeretnéd hogy szólítsunk (az etikai szabályokat betartva )
      li
        |
        b Telefonszám
        | : Kérlek valós telefonszámot adj meg.
      li
        |
        b E-mail
        | : A helyes e-mail cím megadása a legfontosabb mivel ide küldjük a foglalás azonosítódat és a további információkat.
      li
        |
        b Megjegyzés
        | : Ha van valami üzeneted számunkra a foglalással kapcsolatban akkor azt itt írhatod meg.

    p Ha az adatok kitöltésével megvagyunk akkor az áttekintő lapon még utoljára ellenőrizhetjük a megadott adatainkat, majd el kell fogadni az alábbi jelölő négyzetek közül pár kötelezőt.
    p Amíg a kötelező mezőket nem fogadjuk el addig nem tudjuk leadni az online foglalásunkat.

    ul
      li
        |
        b Adatvédelmi​ nyilatkozat (kötelező)
        | : Az online adatkezeléshez és online foglalás elküldése miatt van rá szükség. Részletek a
        |
        a(routerLink="/privacy-statement") dokumentumban.
      li
        |
        b Hírlevél feliratkozási nyilatkozat (nem kötelező)
        | : Ha szeretnél értesülni az
        |
        a(routerLink="/subscribe") újdonságokról és promóciókról
        |
        |, akkor kérlek pipáld be ezt a jelölő négyzetet is. Leiratkozásról és az adatok kezeléséről információkat az adatvédelmi nyilatkozatban találsz, valamint e-mailben is megkapod a rövidített verziót a feliratkozás után.
      li
        |
        b Adatkezelési nyilatkozat (kötelező)
        | : A foglalással kapcsolatos adataidat elolvassuk és tároljuk a rendszerünkben majd egy idő után töröljük, vagyis kezeljük azokat. Az online foglalás elküldéséhez szükséges
        |
        a(routerLink="/privacy-statement") adatkezelési nyilatkozat
        |
        | elfogadása is.
      li
        |
        b Házirend​ elfogadása (kötelező)
        | : Szeretnénk az apartmant a lehető legjobb  állapotban tartani, de ez rajtad is múlik. A
        |
        a(routerLink='/house-rules') házirend
        |
        | betartása elvárt. Kérlek fogadd el a házirendet, ez szükséges az online foglalás leadásához.

    p A miután a kötelező jelőlő négyzeteket elfogadtad elküldheted a foglalást és ha a foglalás sikeres volt kapsz egy foglalás azonosítót, amit e-mailben is elküldünk. A foglalásodat a továbbiakban ezzel az azonosítóval tudod kezelni. A megadott időintervallum ideiglenes foglalásba kerül, vagyis mások nem tudják lefoglalni azt az időpontot, de véglegesítened kell a foglalásod különben 72 órán belül automatikusan törlődik.

    h2 Foglalás véglegesítése

    p Sikeres foglalást követően véglegesítened kell a foglalásodat az előleg elküldésével amit a foglalást követő 72 órában tudsz megtenni.
      b ​ FONTOS
      | ,​ hogy a vissza nem igazolt foglalások automatikus törlésre kerülnek 72 óra múlva így nem tudjuk garantálni, hogy más felhasználók nem foglalják be azt az időpontot. Célszerű nem az utolsó pillanatra hagyni az előleg elküldését, hanem a foglalást követően véglegesítsük azt.
    p
      |
      b  FONTOS​
      | , hogy az utalás közleményébe írd bele a foglalási azonosítódat, mivel az alapját tudjuk beazonosítani a foglalásodat. Ha ezt véletlenül elfelejtenéd, fel tudunk hívni vagy meg tudunk keresni e-mailben, de a gyors és zökkenőmentes foglalás érdekében kérlek ne felejtsd el.
    p
      |
      b FONTOS​
      |  továbbá, hogy az Idegenforgalmi Adó (IFA) nincs az árban, ennek a fizetése a helyszínen történik.
    p A véglegesítés után pár órán belül e-mailben értesítünk, légy türelemmel mivel ez egy manuális lépés részünkről, mivel meg kell keresnünk a foglalási azonosítóval elküldött utalási adataidat a banki rendszerben (az utalással kapcsolatos adataidat nem tároljuk és nem használjuk fel semmilyen formában, a banki által nyújtott rendszerben maradnak).
    p A minden sikeres volt várunk sok szeretettel a megadott napon.

    h2 Foglalás lemondása

    p
      | A foglalásod lemondásának folyamatát a weboldalon található
      |
      |
      a(routerLink='/delete-booking') ​foglalás lemondása
      |
      | menüpont alatt indíthatod el. Foglalás módosítására értelemszűen csak akkor van lehetőség, ha az új időpontok még nincsenek lefoglalva. A módosítást és lemondást kérem próbáld meg mindenki magának intézni a felületen keresztül, ha hiba lépne fel vagy nem egyértelmű a felület használata akkor kérem keressen a ​kapcsolat​ menüpontban található elérhetőségek valamelyikén. ​
      |
      b FONTOS​
      | , hogy a foglalási előleget 72 órában van lehetőség a részleteket a “Lemondási feltételek” bekezdésben találod. Egylépéses módosításra nincs lehetőség, az első lépés a törlés a második pedig az új foglalás elküldése.

    p A lemondás menete:

    ol
      li
        |
        b Lemondási kérelem feladása
        | : Weboldalunkon a foglalási azonosító birtokában elindíthatod a foglalás törlése folyamatot. Mindössze csak a már előzőleg elküldésre került foglalás azonosítóra van szükséged. A kérelem beérkezéséről e-mailben értesítünk.
      li
        |
        b Visszaküldjük a befizetett előleget
        | : A befizetett előleget pár órán belül vissza utaljuk. Ez egy manuális művelet mivel meg kell keresni a foglalási azonosítódhoz tartozó utalási bejegyzést.
      li
        |
        b Töröljük a foglalását a rendszerből
        | : Az összeg visszautalása után töröljük a foglalásodat a rendszerből, így mások be tudják foglalni azt az időintervallumot.

    p Próbáljuk a legegyszerűbb módon intézni ezeket a folyamatokat, hogy érthető és kényelmes legyen a foglalás lemondása is. Csak a meglévő foglalási azonosítóval tudjuk kezelni a foglalás lemondását és az összeg visszautalását. Miután megtaláltuk a foglalási azonosítóhoz tartozó banki utalás adatait, a bejegyzésben szereplő bankszámlaszámra áll módunkban visszautalni az összeget, a rosszindulatú visszaélések elkerülése végett.

    h2 Lemondási feltételek

    p A foglalásodat érkezés előtt bármikor lemondhatod a ​weboldalon​ keresztül, viszont
      |
      b  az előleget az érkezés előtti 72 órában nem áll módunkban visszautalni.
      | Kérjük szíves megértésedet ezzel kapcsolatban mivel az az időszak egy kieső intervallum lesz számunkra. Más feltétele nincs a lemondásnak, de ha pár mondatban összefoglalnád, hogy miért döntöttél így, azt megköszönnénk.

    h2 Vissza nem igazolt foglalások

    p Miután elküldted a foglalási kérelmed, mi ideiglenesen lefoglaljuk azt az időintervallumot számodra, viszont mint már említettük ez az időpont 72 óra múlva törlődik, ha nem igazolod vissza a foglalásod az előleg átutalásával. Kérlek az utalás közleményébe mindig írd bele a foglalás azonosítódat amit előzetesen elküldtünk e-mailben. A foglalásod állapotváltozásairól mindíg e-mailban fogunk értesíteni.

