.container
  .loading(*ngIf="showLoading")
    app-loading-circle(show="false")
  h1(*ngIf="titleStyle === 'x1' || titleStyle === undefined") {{title}}
  h2(*ngIf="titleStyle === 'x2'") {{title}}
  ng-content
