/* You can add global styles to this file, and also import other style files
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,500,600,700')

*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none

body
  font-family: 'Encode Sans', sans-serif

.container
  max-width: 1200px
  margin: 0 auto

.subscribe-box
  position: absolute
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  right: -30px
  top: 50%
  z-index: 90000
  width: 64px
  height: 64px
  background: #ab6cc3
  border-top-left-radius: 15px
  border-bottom-left-radius: 15px
  animation-duration: 3s
  animation-name: slidein
  cursor: pointer
  transition: right 1s
  &:hover
    right: 0
  i
    font-size: 40px
    color: white
    animation-duration: .5s
    animation-delay: 1s
    animation-iteration-count: 2
    animation-name: buzz
    transform-origin: center right

@keyframes slidein
  0%
    right: -30px
  25%
    right: 0
  75%
    right: 0
  100%
    right: -30px

@keyframes buzz
  0%
    ransform: translateX(-100%) rotateY(0deg)
  100%
     transform: translateX(-100%) rotateY(-180deg)


