.notification-panel((keydown)="handleClose()", (click)="handleClose()")
  card-container([translateKey]="titleTranslateKey", [title]="title", (click)="stopPropogation($event)")
    ng-content
    .button-container
      submit-button(translateKey="delete_booking.dialog_button", (click)="handleClose()") Bezárás
