.notification-panel((keydown)="handleClose()", (click)="handleClose()")
  card-container([title]="title", (click)="stopPropogation($event)")
    ng-content
    .button-container
      submit-button((click)="handleClose()") Bezárás
