.hero
  .hero-content
    img.hero-img(src="../../assets/img/hero-text.png", alt='')
    .divider
    button(routerLink='/booking') 
      | Foglalás 
      br
      | Szabad időpontok
section.intro.container
  h1 Bemutatkozás
  .intro-content
    .intro-text
      img.intro-img(src="../../assets/img/intro.jpg", alt='')
      p
        | A Levendula apartman egy régóta dédelgetett álmunk volt, mely 2017-ben vált valósággá. Férjemmel mindketten a Balaton mellett nőttünk fel és szerettünk volna abból a sok szépségből és élményből másoknak is átadni amennyit csak lehet. Hosszú keresés után bukkantunk rá egy ideális helyen lévő házra, melyet teljesen felújítottunk. A felújítás során igyekeztünk mindenre gondolni, amely az itteni időtöltést megszépíti: az apró veranda helyett két, nagyobb méretű, grillezésre is alkalmas teraszt építettünk, a házat fűtő-hűtő klímával és remekül szigetelő ablakokkal láttuk el és a ház elrendezését is átalakítottuk a maximális kényelem érdekében. A munka nagyjából egy évig tartott, de nem álltunk meg: a szabad időpontokban folyamatosan újítjuk, alakítjuk a házat és a kertet is.
      p
        | A 2018-as nyarat már vendégekkel kezdtük - Izgalomaml vártuk az első lakókat és a kulcsok átadása után nehéz szívvel hagytuk magára szeretett nyaralónkat, mely immáron megérett a nyaralni vágyók fogadására. A ház gondozása mellett ügyelünk arra is, hogy a foglalás és az ott töltött idő alatt minden olajozottan menjen. Ebben nagy segítségünkre van fiúnk, akinek többek között ezt a weboldalt is köszönhetjük. 
      p
        | Bízunk benne, hogy leendő vendégeink, nemcsak a házban, de a környékbeli élményekben is örömüket lelik, ezért itt, az oldalon mindig frissítjük a közeli programok, élmények listáját. Családom nevében is köszönöm, hogy ellátogatott az oldalunkra, és bízunk benne, hogy hamarosan vendégként üdvözölhetjük Önt a balatonmáriafürdői Levendula apartmanban. 
