<div class="hero">
  <div class="hero-content">
    <img src="assets/img/hero-text.png" alt="" class="hero-img">
    <div class="divider"></div>
    <button routerLink="/booking">Foglalás most</button>
  </div>
</div>
<section class="intro container">
  <h1>Bemutatkozás</h1>
  <div class="intro-content">
      <div class="intro-text">
          <img src="assets/img/intro.jpg" alt="" class="intro-img">
          <p>Faházi-Takács Beatrix vagyok, a Levendula apartman tulajdonosa. Férjemmel működtetjük a nyaralót, aminek üzemeltetésébe gyerekeink is segítenek: Dani és Panni. 2017 nyarán vásároltuk az ingatlant. Rossz állapotban volt nagyon, de a célunk az volt, hogy felújítsuk és egy hangulatos, kellemes nyaralót csináljunk belőle. Falakat mozgattunk, betonoztunk szigeteltünk, nyílászárókat cseréltünk és egy év alatt teljesen felújítottuk a házat, valamint a kertet.</p>
          <p>2018 nyár közepén indultunk. Nagy reményekkel és izgalommal vártuk első vendégeinket, akik pár hét múlva meg is érkeztek. A kulcsok átadása után nehéz szívvel hagytuk magukra a nyaralókat, de tudtuk hogy egyszer eljön ez a nap is és a háznak "önálló" életet kell élnie, felnőtt lett. A második vendégek fogadása már könnyebb volt, a többieket pedig már olajozottan fogadtuk. Sok praktikát lestünk el más szállásadóktól, de fontosnak tartottuk belevinni a saját elképzeléseinket is az apartman kialakításába.</p>
          <p>Egész évben fogadjuk vendégeinket Balatonmárián a Levendula apartmanban. A beépített klímának köszönhetően nyáron hűtési, télen fűtési lehetőséget biztosítunk pihenni vágyó vendégeink számára. A terasz grillezésre alkalmas és egy grillsütő is található.</p>
        </div>
    
    
  </div>
</section>
