<div class="hero">
  <div class="hero-content">
    <img src="assets/img/lavender.png" alt="" class="lavender">
    <h1>Foglalás</h1>
    <input type="text" name="name" class="input" placeholder="Név" required appAutofocus>
    <input type="text" name="phone" class="input" placeholder="Telefonszám" required>
    <input type="text" name="email" class="input" placeholder="Email">
    <textarea name="message" id="" cols="30" rows="10" class="input message" placeholder="Üzenet"></textarea>
    <button type="submit" class="submit">Foglalás most</button>
  </div>
</div>